body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  width: 100%;
}

input[type="submit"] {
  background-color: #1abc9c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #16a085;
}

.error {
  border: 2px solid #e74c3c;
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}
  
.register-button {
  background-color: transparent;
  color: #1abc9c;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
  font-size: 1rem;
  text-decoration: underline;
}

.register-button:hover {
  background-color: #f7f7f7;
  color: #16a085;
  text-decoration: none;
}