* {
    user-select: none;
    font-family: sans-serif;
}

header {
    background-color: #1abc9c;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  .header-container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }
  
  /* Estilos del logo */
  .logo {
    font-size: 36px;
    color: white;
    margin: 0;
  }
  
  /* Estilos del menú */
  .menu-container {
    position: relative;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  /*main styles*/
  .welcome-container {
    height: 500px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .welcome-container h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    color: #555;
    margin-bottom: 20px;
  }
  
  .welcome-container #date {
    font-size: 24px;
    color: #777;
    margin-bottom: 40px;
  }
  
  h5 {
    font-size: 24px;
    color: #777;
    margin: 10px 0;
  }
  
  h6 {
    font-size: 18px;
    color: #777;
    margin: 10px 0;
  }
  
  .balance-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .balance-container h2 {
    font-size: 36px;
    color: #555;
    margin: 10px 0;
  }
  
  .balance-container #balance {
    font-size: 48px;
    color: #1abc9c;
    margin: 10px 0;
  }
  
  .btn {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
  }
  
  .btn:hover {
    background-color: #148f77;
  }
  
  .btn:active {
    outline: none;
  }
/* Estilos del footer */

footer {
    background-color: #1abc9c;
    color: black;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  .footer-column {
    flex: 1;
    margin-right: 50px;
  }
  
  .footer-column:last-child {
    margin-right: 0;
  }
  
  .footer-column h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer-column ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    color: black;
    text-decoration: none;
  }
  
  .footer-column ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-column ul li i {
    margin-right: 10px;
  }
  
  .footer-bottom {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
  }
  
  .footer-bottom p {
    font-size: 14px;
    margin: 0;
  }
  
  .footer-bottom a {
    color: white;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .content {
    flex-basis: 70%;
  }
  
  .sidebar {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .notification,
  .history {
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
  }
  
  .notification h2,
  .history h2 {
    margin-top: 0;
  }
  
  .notification ul,
  .history ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .notification li,
  .history li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .notification .icon {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .history .date {
    font-size: 14px;
    margin-right: 10px;
  }
  
  .history .amount {
    font-weight: bold;
  }

  /*BOTONES*/

  .button-container {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
  }
  
  .button-send, .button-receive {
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .button-send:hover, .button-receive:hover {
    background-color: #16a085;
  }
  
  .button-send:active, .button-receive:active {
    background-color: #117a65;
  }

  .btn-small {
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn-small:hover {
    background-color: #eee;
  }

  /* input container (botones enviar y recibir dinero)*/

  #input-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  input[type="text"] {
    padding: 5px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin: 10px
  }