{% extends 'layout.html' %}
{% block content %}

<h1 class="title-home">Contactos</h1>
<p class="subtitle-home">Aqui podrás ver todos los contactos que hayas agregado!</p>
<div class="search-container">
  <input type="text" placeholder="Buscar amigos">
</div>
<div class="friends-container">
    <div class="friends-list">
      <ul>
      </ul>
    </div>

    <div id="container" class="chat-container" style="display:none;">
        <div class="chat-header">
            <h2 id="amigo-seleccionado"></h2>
            <button class="close-button" onclick="ocultarHistorial()">&#10005;</button>
        </div>
        <div class="chat-messages">
        </div>
        <div class="send-message-fixed">
            <div class="send-message">
                <input type="text" id="sendMessage" placeholder="Escribe tu mensaje aquí...">
                <button onclick="sendMessage()" type="submit">Enviar</button>
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='js/friends.js') }}"></script>

{% endblock %}
