<!DOCTYPE html>
<html>
  <head>
    <title>Rebirth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <!-- <link rel="stylesheet" href="./home.css"> -->
  </head>
  <body>
    <header>
      <div class="header-container">
        <h1 class="logo">Lazarus Rebirth</h1>
        <div class="menu-container">
          <ul class="menu">
            <li><a href="#">Configuración</a></li>
            <li><a href="#">Perfil</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="content">
        <div class="welcome-container">
          <h1 id="welcomeDiv">Bienvenido/a </h1>
          <p id="date">lunes, 4 de abril de 2023</p>
          <h5>¿Qué desea hacer hoy?</h5>
          <h6 class="wallet">Dirección de cartera: 
              <span id="wallet"></span>
              <button class="btn-small" onclick="copyToClipboard()">
                <img src="{{ url_for('static', filename='copy.png') }}" width="20" height="20">
                <!---->
              </button>
          </h6>
          <div class="button-container">
            <div class="button-row">
              <button class="button-send" onclick="mostrarRecuadro()">Enviar dinero</button>
              <button class="button-receive" onclick="mostrarRecuadro(enviar=false)">Recibir dinero</button>
            </div>
            <div id="input-container"  style="display: none;">
              <input type="text" id="walletPlaceholder" placeholder="Introduce la direccion de wallet aquí">
              <input type="text" id="balancePlaceholder" placeholder="Introduce la cantidad">
              <button class="button-send" id="enviarBalance">Enviar</button>
              <p id="error" style="margin-left:10px"></p>
            </div>
          </div>
          <div class="balance-container">
            <h2>Saldo</h2>
            <p id="balance" class="saldo">0€</p>
          </div>
        </div>
        
      </div>
      <div class="sidebar">
        <div class="notification">
          <h2><span class="icon">&#x1F514;</span>Notificaciones</h2>
          <ul>
            <li>Tienes un nuevo mensaje de correo</li>
            <li>Tienes un nuevo mensaje de correo</li>
          </ul>
        </div>
        <div class="history">
          <h2>Historial de transacciones</h2>
          <ul>
            <li><span class="date">02/04/2023</span> <span class="description">Compra en Amazon</span> <span class="amount">$25.99</span></li>
            <li><span class="date">02/04/2023</span> <span class="description">Compra en Amazon</span> <span class="amount">$25.99</span></li>

          </ul>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <div class="footer-container">
      <div class="footer-column">
        <h3>Enlaces útiles</h3>
        <ul>
          <li><a href="/home">Inicio</a></li>
          <li><a href="#">Acerca de nosotros</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Redes sociales</h3>
        <ul>
          <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Contacto</h3>
        <ul>
          <li><i class="fas fa-phone"></i> 123-456-7890</li>
          <li><i class="fas fa-envelope"></i> info@lazarusrebirth.com</li>
          <li><i class="fas fa-map-marker-alt"></i> 1234 Calle Principal, Ciudad, Estado</li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>Derechos de autor © 2023 Lazarus Rebirth. Todos los derechos reservados.</p>
    </div>
  </footer>
  <!-- <script src="script.js"></script> -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>