<!-- home.html -->
{% extends 'layout.html' %}
{% block content %}

<section id="summary" style="padding: 20px;">
    <h2 style="margin-bottom: 10px;">¡Bienvenido/a!</h2>
    <p style="margin-bottom: 20px;">Una plataforma de pagos online, donde podrás contactar con tus amigos y conocidos. Explora las siguientes ventanas:</p>
  
    <ul style="list-style-type: disc; margin-left: 30px;">
      <li style="margin-bottom: 10px;">Perfil: Ver y gestionar tu usuario, balance, cartera y código de invitación.</li>
      <li style="margin-bottom: 10px;">Transacciones: Consultar el historial de transacciones realizadas.</li>
      <li style="margin-bottom: 10px;">Enviar Dinero: Enviar dinero a través de tu cartera o usando el nombre de usuario.</li>
      <li style="margin-bottom: 10px;">Solicitar Dinero: Solicitar dinero a tus amigos adjuntando un mensaje.</li>
      <li style="margin-bottom: 10px;">Contactos: Agregar amigos y comunicarte con ellos.</li>
      <li style="margin-bottom: 10px;">Configuración: Personalizar el color, cambiar la contraseña y desactivar funcionalidades.</li>
    </ul>
  </section>
{% endblock %}
