<!-- transactions.html -->
{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <h1 class="title-home">Transacciones</h1>
    <p class="subtitle-home">Aqui podrás ver todas las transacciones que hayas hecho!</p>
    <div class="transactions">
      <h3 class="transactions-title">Historial</h3>
      <table class="transactions-table">
        <thead>
          <tr>
            <th>#</th>
            <th>FROM</th>
            <th>TO</th>
            <th>CANTIDAD</th>
            <th>TIMESTAMP</th>
          </tr>
        </thead>
        <tbody id="transaction-tbody">
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/transactions.js') }}"></script>
{% endblock %}